@page "/hotels/{HotelId:guid}/rooms/{RoomId:guid}/booking"
@using System.ComponentModel.DataAnnotations

<div class="card card-brand mb-4 shadow">
  <div class="card-body">
    <div class="row">
      <div class="col-7">
        <h2>Hotel, Singapore, Fullerton bay</h2>
        <div class="d-flex">
          <h6 class="card-subtitle mb-3 text-muted me-5"><span class="oi oi-star"></span> 4.9 </h6>
          <h6 class="card-subtitle mb-3 text-muted"><span class="oi oi-map-marker"></span> Durbach, Germany</h6>
        </div>
        <h5> 5 мая, пн - 6 мая, вт </h5>
        <h5> с 15:00     до 12:00 </h5>
        @* <p class="text-primary">Двухкомнатный Люкс</p> *@
        <h3>Двухкомнатный Люкс</h3>
        
        <h5>Удобства в номере</h5>

        <ul class="list-unstyled">
          <li>📺 Цифровое ТВ</li>
          <li>❄️ Мини-холодильник</li>
          <li>🛁 Ванна</li>
          <li>👔 Утюг</li>
          <li>💨 Фен</li>
          <li>📶 Wi-Fi</li>
        </ul>

        <ul class="list-unstyled">
          <li><i class="bi bi-tv"></i> Цифровое ТВ</li>
          <li><i class="bi bi-snow"></i> Мини-холодильник</li>
          <li><i class="bi bi-bathtub"></i> Ванна</li>
          <li><i class="bi bi-iron"></i> Утюг</li>
          <li><i class="bi bi-wind"></i> Фен</li>
          <li><i class="bi bi-wifi"></i> Wi-Fi</li>
        </ul>

        <h5>Особенности номера</h5>

        <p>Планировка не предусматривает объединение кроватей.</p>
        <p>Стандартный делюкс с двумя раздельными кроватями удобен для проживания коллег, друзей или семьи из двух человек.</p>
       
      </div>

      <div class="col-5 text-end">
        <img src="@("images/B3C83220-D255-46D7-AC76-114ECE1D925A.jpg")" class="card-img-top">

        <div class="d-flex justify-content-between">
          <h4 class ="mb-3 me-5">Итого</h4>
          <h4 class="mb-3 me-5">5690 руб</h4>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-7">
        <h5>Данные гостей</h5>
        <h6>Гость 1. Взрослый, на которого оформляется номер</h6>
        <div class="d-flex">
          <div class="me-3">
            <label>Фамилия</label>
            <InputText @bind-Value="@booking.Famil" required />
          </div>
          <div>
            <label>Имя</label>
            <InputText @bind-Value="@booking.Name" required />
          </div>
        </div>
        <h6>Гость 2.</h6>
        <div class="d-flex">
          <div class="me-3">
            <label>Фамилия</label>
            <InputText @bind-Value="@booking.Famil" required />
          </div>
          <div>
            <label>Имя</label>
            <InputText @bind-Value="@booking.Name" required />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <h5>Контактная информация покупателя</h5>
        <div class="d-flex">
          <div class="me-3">
            <label>Электронная почта</label>
            <InputText @bind-Value="@booking.Email" required />
          </div>
          <div>
            <label>Телефон</label>
            <InputText @bind-Value="@booking.Phone" required />
          </div>
        </div>
      </div>


      <div class="col-5 text-end">
        <a href="#" class="btn btn-primary">Забронировать</a>
      </div>

    </div>

  </div>
</div>

<style>
  h2 {
    margin-top: 20px;
    color: #333;
  }

  ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .btn {
    margin-top: 10px;
  }
</style>


@code {
  private BookingModel booking = new BookingModel();
  private bool bookingConfirmed = false;

  private void BookRoom()
  {
    bookingConfirmed = true;
  }

  private class BookingModel
  {
    [Required]
    public string Name { get; set; }

    [Required]
    public string Famil { get; set; }

    [Required]
    public string Phone { get; set; }

    [Required, EmailAddress]
    public string Email { get; set; }

    [Required]
    public DateTime CheckInDate { get; set; }
    [Required]
    public DateTime CheckOutDate { get; set; }
  }
}
