<div class="drawer-wrapper @(_isOpen ? "slide" : "")">
  <div class="drawer-mask"></div>
  <div class="drawer">
    @if (_activeHotel is not null)
    {
      <div class="drawer-content">
        <img src="@_activeHotel.MainPhoto" />
        <div class="trail-details">
          <h3>@_activeHotel.Name</h3>
          <div class="d-flex justify-content-between">
            <h6 class="mb-3 text-muted"> <span class="oi oi-map-marker"></span> @_activeHotel.Location </h6>
            <h6 class="mb-3 text-muted"> <span class="oi oi oi-star"></span> @_activeHotel.Rating </h6>
          </div>
          <!--
          <div class="mt-4">
            <sp an class="mr-5">
              <span class="oi oi-clock mr-2"></span>
              @* @_activeHotel.TimeFormatted *@
            </sp>
            <span>
              <span class="oi oi-infinity mr-2"></span>
              @* @_activeHotel.Length km *@
            </span>
          </div>
          -->
          <p class="mt-4">@_activeHotel.Description</p>
        </div>
      </div>
      <div class="drawer-controls">
        <button class="btn btn-secondary" @onclick="Close">Close</button>
      </div>
    }
  </div>
</div>

@code {
  private bool _isOpen;
  private Hotel? _activeHotel;

  /// <summary>Параметр компонента определяется как открытое свойство, декорирование атрибутами</summary>
  [Parameter, EditorRequired]
  public Hotel? Hotel { get; set; }

  protected override void OnParametersSet()
  {
    if (Hotel != null)
    {
      _activeHotel = Hotel;
      _isOpen = true;
    }
  }

  private void Close()
  {
    _activeHotel = null;
    _isOpen = false;
  }
}

