@inject NavigationManager NavManager
@inject IMediator Mediator
@inject IMapper Mapper

@if (IsModalOpen)
{
  <div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">@ModalTitle</h5>
          <button type="button" class="btn-close" @onclick="CloseModal"></button>
        </div>
        <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
          <table class="table">
            <tbody>
              @foreach (var item in _locations)
              {
                <tr>
                  <td>
                    <FormFieldSet Width="col">
                      <InputText @bind-Value="@item.Name" class="form-control" id="locatiopName" />
                    </FormFieldSet>
                  </td>
                  <td>
                    <AuthorizeView>
                      @if (context.User.IsInRole("Administrator") || context.User.IsInRole("Hotel_owner"))
                      {
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeleteRow(item)" />
                      }
                    </AuthorizeView>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <AuthorizeView>
          @if (context.User.IsInRole("Administrator") || context.User.IsInRole("Hotel_owner"))
          {
            <div class="modal-footer row">
              <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" OverrideStyles="false">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Size="Size.Large" OnClick="AddRow" />
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Large" OnClick="Save" />
              </MudButtonGroup>
              <div class="row">
                @if (_submitSuccessful)
                {
                  <SuccessAlert Message="Данные близлежащим локациям отеля сохранены!" />
                }
                else if (_errorMessage is not null)
                {
                  <ErrorAlert Message="@_errorMessage" />
                }
              </div>
            </div>
          }
        </AuthorizeView>
      </div>
    </div>
  </div>
}

@code {
  private bool _submitSuccessful = false; // поле для отслеживания успешности отправки содержимого формы
  private string? _errorMessage; // поле для хранения сообщения об ошибке, если при отправке что-то пошло не так
  private List<LocationDto>? _locations = new List<LocationDto>();
  private LocationDto _location;
  /// <summary> Список для сохранения удаленных записей, чтобы можно было потом удалить при сохранении </summary>
  private List<LocationDto>? _locationsDel = new List<LocationDto>();

  [Parameter, EditorRequired]
  public Guid HotelId { get; set; } = default!;

  [Parameter, EditorRequired]
  public List<LocationDto>? Locations { get; set; } = default!;

  /// <summary>Событие, что окно формы закрыто и надо обработать это событие в родительской форме </summary>
  [Parameter, EditorRequired]
  public EventCallback OnCloseModal { get; set; }

  [Parameter]
  public bool IsModalOpen { get; set; } = false;

  [Parameter, EditorRequired]
  public string ModalTitle { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    _submitSuccessful = false;
  }

  protected override async Task OnParametersSetAsync()
  {
    _locations = Locations;
    // обновляю данные по Facility по данному отелю
    var response = await Mediator.Send(new GetLocationsRequest(HotelId));
    if (response is not null && response.Locations is not null && response.Locations.Any())
    {
      _locations = response.Locations;
    }
  }

  private void CloseModal()
  {
    _submitSuccessful = false;
    IsModalOpen = false;
    // оповещаю родительскую форму
    OnCloseModal.InvokeAsync();
  }

  private void AddRow()
  {
    _locations.Add(new LocationDto { HotelId = this.HotelId });
  }

  private void DeleteRow(LocationDto item)
  {
    _locationsDel.Add(item);
    _locations.Remove(item);
  }

  private async Task Save(MouseEventArgs args)
  {
    try
    {
      // добавление записей
      if (_locations is not null && _locations.Any())
      {
        foreach (LocationDto item in _locations)
        {
          if (item.Id == Guid.Empty)
          {
            var response = await Mediator.Send(new AddLocationRequest(Mapper.Map<LocationCreateWithIdDto>(item)));
            if (response.locationId == Guid.Empty)
            {
              _submitSuccessful = false;
              _errorMessage = AppMessage.LocationPageSaveTextErrorMessage;
              // Если при сохранении произошла ошибка, вручную вызываю метод StateHasChanged, чтобы обновить
              // пользовательский интерфейс сообщением об ошибке
              StateHasChanged();
              return;
            }
            else
              _submitSuccessful = true;
          }
          // проверяю на изменение данных
          else
          {
            if (Locations is not null && Locations.Any())
            {
              var itemEq = Locations.First(p => p.Id.Equals(item.Id));
              // если по Id названия не совпадают, т.е. корректировка была
              if (!item.Name.Equals(itemEq.Name))
              {
                // обновляю
                var response = await Mediator.Send(new EditLocationRequest(Mapper.Map<LocationDto>(item)));
                if (!response.IsSuccess)
                {
                  _submitSuccessful = false;
                  _errorMessage = AppMessage.LocationPageSaveTextErrorMessage;
                }
                else
                  _submitSuccessful = true;
              }
            }
          }
        }
      }
      // удаление записей
      if (_locationsDel is not null && _locationsDel.Any())
      {
        foreach (LocationDto item in _locationsDel)
        {
          var response = await Mediator.Send(new DeleteLocationRequest(item.Id));
          _submitSuccessful = response.IsSuccess;
        }
      }
    }
    catch (Exception ex)
    {
      Console.WriteLine($"Ошибка: {ex.StackTrace}");
    }
  }
}

