@inject NavigationManager NavManager
@inject IMediator Mediator
@inject IMapper Mapper

@using System.Collections.Generic

@if (IsModalOpen)
{
  <div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">@ModalTitle</h5>
          <button type="button" class="btn-close" @onclick="CloseModal"></button>
        </div>
        <div class="modal-body" style="max-height: 500px; overflow-y: auto;">
          <table class="table">
            <tbody>
              @foreach (var item in _hotelFacilities)
              {
                <tr>
                  <td>
                    <FormFieldSet Width="col">
                      <InputText @bind-Value="@item.Name" class="form-control" id="facilityName" />
                    </FormFieldSet>
                  </td>
                  <td>
                    <AuthorizeView>
                      @if (context.User.IsInRole("Administrator") || context.User.IsInRole("Hotel_owner"))
                      {
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => DeleteRow(item)" />
                      }
                    </AuthorizeView>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <AuthorizeView>
          @if (context.User.IsInRole("Administrator") || context.User.IsInRole("Hotel_owner"))
          {
            <div class="modal-footer row">
              <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" OverrideStyles="false">
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Tertiary" Size="Size.Large" OnClick="AddRow" />
                <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Size="Size.Large" OnClick="Save" />
              </MudButtonGroup>

              <div class="row">
                @if (_submitSuccessful)
                {
                  <SuccessAlert Message="Данные по удобствам отеля сохранены!" />
                }
                else if (_errorMessage is not null)
                {
                  <ErrorAlert Message="@_errorMessage" />
                }
              </div>
            </div>
          }
        </AuthorizeView>
      </div>
    </div>
  </div>
}

@code {
  private bool _submitSuccessful = false; // поле для отслеживания успешности отправки содержимого формы
  private string? _errorMessage; // поле для хранения сообщения об ошибке, если при отправке что-то пошло не так
  private List<HotelFacilityDto>? _hotelFacilities = new List<HotelFacilityDto>();
  private HotelFacilityDto _facility;
  /// <summary> Список для сохранения удаленных записей, чтобы можно было потом удалить при сохранении </summary>
  private List<HotelFacilityDto>? _hotelFacilitiesDel = new List<HotelFacilityDto>();

  [Parameter, EditorRequired]
  public Guid HotelId { get; set; } = default!;

  [Parameter, EditorRequired]
  public List<HotelFacilityDto>? HotelFacilities { get; set; } = default!;

  /// <summary>Событие, что окно формы закрыто и надо обработать это событие в родительской форме </summary>
  [Parameter, EditorRequired]
  public EventCallback OnCloseModal { get; set; }

  [Parameter]
  public bool IsModalOpen { get; set; } = false;

  [Parameter, EditorRequired]
  public string ModalTitle { get; set; } = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    _submitSuccessful = false;
  }

  protected override async Task OnParametersSetAsync()
  {
    _hotelFacilities = HotelFacilities;
    // обновляю данные по Facility по данному отелю
    var response = await Mediator.Send(new GetHotelFacilitiesRequest(HotelId));
    if (response is not null && response.HotelFacilities is not null && response.HotelFacilities.Any())
    {
      _hotelFacilities = response.HotelFacilities;
    }
  }

  private void CloseModal()
  {
    _submitSuccessful = false;
    IsModalOpen = false;
    // оповещаю родительскую форму
    OnCloseModal.InvokeAsync();
  }

  private void AddRow()
  {
    _hotelFacilities.Add(new HotelFacilityDto { HotelId = this.HotelId });
  }

  private void DeleteRow(HotelFacilityDto item)
  {
    _hotelFacilitiesDel.Add(item);
    _hotelFacilities.Remove(item);
  }

  private async Task Save(MouseEventArgs args)
  {
    try
    {
      // добавление записей
      if (_hotelFacilities is not null && _hotelFacilities.Any())
      {
        foreach (HotelFacilityDto item in _hotelFacilities)
        {
          if (item.Id == Guid.Empty)
          {
            var response = await Mediator.Send(new AddHotelFacilityRequest(Mapper.Map<HotelFacilityCreateWithIdDto>(item)));
            if (response.hotelFacilityId == Guid.Empty)
            {
              _submitSuccessful = false;
              _errorMessage = AppMessage.HotelFacilityPageSaveTextErrorMessage;
              // Если при сохранении произошла ошибка, вручную вызываю метод StateHasChanged, чтобы обновить
              // пользовательский интерфейс сообщением об ошибке
              StateHasChanged();
              return;
            }
            else
              _submitSuccessful = true;
          }
          // проверяю на изменение данных
          else
          {
            if (HotelFacilities is not null && HotelFacilities.Any())
            {
              var itemEq = HotelFacilities.First(p => p.Id.Equals(item.Id));
              // если по Id названия не совпадают, т.е. корректировка была
              if (!item.Name.Equals(itemEq.Name))
              {
                // обновляю
                var response = await Mediator.Send(new EditHotelFacilityRequest(Mapper.Map<HotelFacilityDto>(item)));
                if (!response.IsSuccess)
                {
                  _submitSuccessful = false;
                  _errorMessage = AppMessage.HotelFacilityPageSaveTextErrorMessage;
                }
                else
                  _submitSuccessful = true;
              }
            }
          }
        }
      }
      // удаление записей
      if (_hotelFacilitiesDel is not null && _hotelFacilitiesDel.Any())
      {
        foreach (HotelFacilityDto item in _hotelFacilitiesDel)
        {
          var response = await Mediator.Send(new DeleteHotelFacilityRequest(item.Id));
          _submitSuccessful = response.IsSuccess;
        }
      }
    }
    catch (Exception ex)
    {
      Console.WriteLine($"Ошибка: {ex.StackTrace}");
    }
  }
}

