@* Удобства и услуги | Питание отеля *@
@if ((@Hotel.HotelFacilities is not null || @Hotel.Foods is not null) &&
   (@Hotel.HotelFacilities.Any() || @Hotel.Foods.Any()))
{
  <div class="card shadow">
    <div class="card-body">

      <div class="row">
        @if (@Hotel.HotelFacilities is not null && @Hotel.HotelFacilities.Any())
        {
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <p class="h3">@CaptionFacilities</p>

                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-start">
                      <div class="col-sm-8">
                        <div class="d-flex">
                          @foreach (var item in @Hotel.HotelFacilities)
                          {
                            <h6 class="m-3">@item.Name</h6>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        }
        @if (@Hotel.Foods is not null && @Hotel.Foods.Any())
        {
          <div class="col">
            <div class="card shadow">
              <div class="card-body">
                <p class="h3">@CaptionFoods</p>

                <div class="card shadow">
                  <div class="card-body">
                    <div class="row align-items-start">
                      <div class="col-sm-8">
                        <div class="d-flex">
                          @foreach (var item in @Hotel.Foods)
                          {
                            <h6 class="m-3">@item.Name</h6>
                          }
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}

@code {

  [Parameter, EditorRequired]
  public HotelDto Hotel { get; set; } = new HotelDto();

  [Parameter, EditorRequired]
  public string CaptionFacilities { get; set; } = string.Empty;

  [Parameter, EditorRequired]
  public string CaptionFoods { get; set; } = string.Empty;

}
